# Python caches
__pycache__/
*.py[cod]

# Environments
.env
*.env

# Data files
/data/duckdb/*
!/data/duckdb/.gitkeep
/data/raw/fbref/cache/*
!/data/raw/fbref/cache/.gitkeep

# VSCode settings
.vscode/

